- if events.count == 0
  %em
    = empty_text
- else
  %ul{"data-role" => :listview}
    - events.each do |e|
      %li
        %a{ :href => event_details_url(e.id), "data-ajax" => :false}
          %p
            = display_date(e)
          %p
            %strong
              = e.name
          %p
            %strong
              = "#{e.attending} attending"
            %em
              = "#{e.location_name}, #{e.start_at.strftime("%l:%M%P")}"
          %p
            = e.organization_desc
