- content_for :view_buttons do
  %p
    = link_to "List", all_events_url, "data-role" => :button,
      "data-inline" => "true", "data-mini" => "true", "data-ajax" => :false
    = link_to "Calendar", all_events_calendar_url, "data-role" => :button,
      "data-inline" => "true", "data-mini" => "true", "data-ajax" => :false
%div{:style => "text-align:center"}
  %h2 All Events
= render 'calendar'
= render 'events_list', :events => @date_events, :empty_text => "No events for selected day."

%script
  var calendar_url = "#{all_events_calendar_url}";
  var current_date = "#{@current_date}";
  var month_events = #{events_as_json(@month_events).html_safe};
