- content_for :events_button do
  = render 'main/back_to_events', :button_text => 'Back', :button_class => 'ui-btn-right'

%div.ui-mini.event-details
  %strong
    = @event.name
  %br/
  %strong
    %em Date
  = display_date(@event)
  %br/
  %strong
    %em Start
  = @event.start_at.to_s(:time)
  %strong
    %em End
  = @event.end_at.to_s(:time) if @event.end_at.present?
  %br/
  %strong
    %em Type
  = @event.category_name
  %br/
  %strong
    %em Industry
  = @event.industry_name
  %br/
  %strong
    %em Attending
  = @event.attending
%p
  = twitter_link_tag(@event)
  = share_by_email_tag(@event)
  = link_to image_tag('share.cal.png'), event_url(@event, :format => 'ics' ), :target => :blank
  = facebook_like

%div.ui-mini
  %strong Please RSVP
  %br/
  Will you attend this event?
  %br/
  = link_to 'Yes', '#', "data-role" => :button,
      "data-mini" => :true, "data-inline" => :true, "data-rel" => :dialog, :id => 'attending-yes'
  = link_to 'Maybe', '#', "data-role" => :button,
      "data-mini" => :true, "data-inline" => :true, "data-rel" => :dialog, :id => 'attending-maybe'
  = link_to 'No', '#', "data-role" => :button,
      "data-mini" => :true, "data-inline" => :true, "data-rel" => :dialog, :id => 'attending-no'
%br/
%div.ui-mini
  %strong Description
  %br/
  %pre~ @event.description

= google_map_for_event(@event)

%div.ui-mini
  %strong
    = @location.name
  %br/
  = @location.address_1
  - if @location.address_2.present?
    %br/
    = @location.address_2
  %br/
  #{@location.city}, #{@location.state} #{@location.zip}
  %br/
  %strong Phone
  %span= number_to_phone(@event.phone_number)

:javascript
  var attendance_urls = [{
    target: '#attending-yes',
    url: "#{create_attendance_event_url(@event, :attending => 'yes')}"}, {

    target: '#attending-maybe',
    url: "#{create_attendance_event_url(@event, :attending => 'maybe')}"}, {

    target: '#attending-no',
    url: "#{create_attendance_event_url(@event, :attending => 'not')}"}];
