%h3 Log In

= form_for(resource, :as => resource_name, :url => session_url(resource_name)) do |f|
  = devise_error_messages!
  %div.ui-hide-label{"data-role" => "fieldcontain"}
    = f.label :email
    = f.email_field :email, :placeholder => "Email"
  %div.ui-hide-label{"data-role" => "fieldcontain"}
    = f.label :password
    = f.password_field :password, :placeholder => "Password"
  %div{"data-role" => "fieldcontain"}
    = f.check_box :remember_me, "data-mini" => :true
    = f.label :remember_me, "Remember Me"
  = f.submit "Log In"
