%h3 Log In

= form_for(:user, :as => :user, :url => session_url(:user)) do |f|
  = devise_error_messages!

  %div{"data-role" => "fieldcontain"}
    = f.email_field :email, :placeholder => "Email"
  %div{"data-role" => "fieldcontain"}
    = f.password_field :password, :placeholder => "Password"
  %div{"data-role" => "fieldcontain"}
    = f.check_box :remember_me, "data-mini" => :true
    = f.label :remember_me, "Remember Me"
  = f.submit "Log In"

= render :partial => "devise/shared/links"
