%h3 Log In

= form_for(resource, :as => resource_name, :url => :login, :html => { "data-ajax" => :false}) do |f|
  = content_tag(:div, flash[:error], :id => "flash_error") if flash[:error]
  = content_tag(:div, flash[:alert], :id => "flash_error") if flash[:alert]
  = content_tag(:div, flash[:notice], :id => "flash_error") if flash[:notice]
  %div.ui-hide-label{"data-role" => "fieldcontain"}
    = f.label :email
    = f.email_field :email, :placeholder => "Email"
  %div.ui-hide-label{"data-role" => "fieldcontain"}
    = f.label :password
    = f.password_field :password, :placeholder => "Password"
  %div{"data-role" => "fieldcontain"}
    = f.check_box :remember_me, "data-mini" => :true
    = f.label :remember_me, "Remember Me"
  = f.submit "Log In"
