!!!
%html
  %head
    %title SociaLatitude
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "/stylesheets/jquery.mobile-1.1.0.min.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/jqm-datebox.min.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/mobile.css", :rel => "stylesheet"}/
    %script{:src => "/javascripts/libs/jquery-1.7.1.min.js"}
    %script{:src => "/javascripts/libs/jquery.mobile-1.1.0.min.js"}
    %script{:src => "/javascripts/libs/jqm-datebox.core.min.js"}
    %script{:src => "/javascripts/libs/jqm-datebox.mode.calbox.min.js"}
    %script{:src => "/javascripts/libs/jquery.mobile.datebox.i18n.en_US.utf8.js"}
    %script{:src => "/javascripts/mylibs/jquery.placeholder.min.js"}
    %script{:src => "/javascripts/mobile_app.js"}

  %body
    %div#page{"data-role" => "page", "data-theme" => "b"}

      %div{"data-theme" => "d", "data-content-theme" => "b", "data-role" => "header"}
        %div
          - if user_signed_in?
            = link_to 'Settings', { :controller => :settings, :action => :organizations },
                "data-theme" => :b, "data-role" => :button, :class => "ui-btn-left"
            = link_to 'Events', events_url,
                "data-theme" => :b, "data-role" => :button, :class => "ui-btn-right"

        %div{"style"=>"text-align:center"}
          %img{"src"=>"/images/logo_simple.png"}


      %div{"data-role" => "content"}
        = yield :content
      / /content

      %div{"data-role" => "footer"}
        = yield :footer
        = google_analytics
      - if Rails.env.development?
        = display_session_hash
    / /page
