!!!
%html
  %head
    %title SociaLatitude
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/mobile.css", :rel => "stylesheet"}/
    %script{:src => "http://code.jquery.com/jquery-1.7.1.min.js"}
    %script{:src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"}
    %script{:src => "/javascripts/mylibs/jquery.placeholder.min.js"}
    %script{:src => "/javascripts/mobile_app.js"}

  %body
    %div{"data-role" => "page", "data-theme" => "b"}

      %div{"data-theme" => "d", "data-content-theme" => "b", "data-role" => "header"}
        %div
          - if user_signed_in?
            = link_to 'Settings', { :controller => :settings, :action => :organizations },
                "data-theme" => :b, "data-role" => :button, :class => "ui-btn-right"
            = link_to 'Events', { :controller => :main, :action => :my_events },
                "data-theme" => :b, "data-role" => :button, :class => "ui-btn-left"

        %div{"style"=>"text-align:center"}
          %img{"src"=>"/images/logo_simple.png"}


      %div{"data-role" => "content"}
        = yield :content
        = google_analytics
        - if Rails.env.development?
          = display_session_hash
      / /content
    / /page
