- content_for :content do
  = yield
- content_for :footer do
  %div{"data-role" => :navbar}
    %ul
      %li
        = link_to "Log In", new_user_session_url
        = link_to "Sign Up", new_user_registration_url
        = link_to "About Us", mobile_about_url
        = link_to "Contact Info", mobile_contact_url

= render :template => 'layouts/mobile'
